/.2023-10-25-qgis_plugin.org.~undo-tree~
/2023-10-25-qgis_plugin.html~
/2023-10-25-qgis_plugin.org~
/css/.custom-toc.css.~undo-tree~
/css/.default-style.css.~undo-tree~
/css/.org.css.~undo-tree~
/css/.style.css.~undo-tree~
/css/org.css~
/css/style.css~
/..gitignore.~undo-tree~
/.README.md.~undo-tree~
/.index.html.~undo-tree~
/.2023-10-25-qgis_plugin.html.~undo-tree~
/css/.style_spm.css.~undo-tree~
/css/style_spm.css~
/css/.style_spm_20230926.css.~undo-tree~
/css/.style_spm_mobile.css.~undo-tree~
/css/style_spm_20230926.css
/.index.org.~undo-tree~
/index.html~
/index.org~
